<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% load staticfiles%}
	<title>Feed Admin</title>

	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container">

    <div class="card">
      <h5 class="card-header">Admin For Feed: {{ feed.title }}</h5>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">Passphrase: {{ feed.alice_passphrase }}</p>
        <p class="card-text">Policy Label: {{ feed.label_string }}</p>
        <p class="card-text">Description: {{ feed.description }}</p>
        <p class="card-text">Policy Pub Key (Hex): <span id='policy_pubkey_hex'>{{ feed.policy_pubkey_hex }}</span></p>
        <p class="card-text">Enrico Pub Key (Hex): <span id='enrico_pubkey_hex'>{{ feed.enrico_pubkey_hex }}</span></p>
        <a id="create-policy" class="btn btn-primary">Create Policy</a>
      </div>
    </div>

    <div class="card">
      <h5 class="card-header">Add Post</h5>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="post">Post:</label>
            <input type="text" class="form-control" id="post" placeholder="Enter Your Post">
          </div>
        </form>
        <a id="create-post" class="btn btn-primary">ENCRYPT & SAVE</a>
      </div>
    </div>

    <div id='posts'>
      {% for post in posts %}
        <p>{{post.created_date}} {{post.content}} {{post.enrico_pubkey_hex}}</p>
      {% endfor %}
    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src='{% static "feed_admin.js" %}'></script>
</body>
</html>
