<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% load staticfiles%}
	<title>THFIAONS</title>

	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container">

  <div class="jumbotron">
    <h1 class="display-4">This Feed Is Always On Sale</h1>
    <p class="lead">
      Access to the feed below is always on sale.
      <br>In order to own this access, you always have to specify a sale price.
      <br>Anyone can buy it from the current patron at any time for the specified sale price.
      Whilst held, a 5% fee (pa) is levied as patronage towards the feed owner.
    <hr class="my-4">
    <h3>Hackathon Idea</h3>
      <br>The idea and
      <a href="https://github.com/simondlr/thisartworkisalwaysonsale" target="_blank">contracts</a> were taken from Simon de la Rouvieres
      <a href="https://thisartworkisalwaysonsale.com" target="_blank">'This Artwork Is Always On Sale'</a> - it's a cool implementation of a Harberger Tax.
      <br>My idea was to tweak the concept a little - NuCypher is used to encrypt the feed, then only the Patron can decrypt (using NuCypher) to get access.
      <br>The concept could be extended to have more than one Patron and could also be used for other kinds of feed data such as sensor data, camera/video feeds, music, etc.
    </p>
    <hr class="my-4">
    <h3>Buy Feed</h3>
    <p id='currentPrice'>Current Price (ETH): {{ price }}</p>
    <p id='currentPatron'>Current Patron: {{ patron }}</p>
    <form>
      <div class="form-group">
        <label for="salePrice">Your sale price (ETH):</label>
        <input type="text" class="form-control" id="salePrice" placeholder="ETH: Your Initial Sale Price">
      </div>
      <div class="form-group">
        <label for="deposit">Your deposit (ETH):</label>
        <input type="text" class="form-control" id="deposit" placeholder="ETH: Your Initial Deposit">
      </div>
      <a id="buyfeed" class="btn btn-primary btn-lg" role="button">BUY FEED</a>
      <hr class="my-4">
      <h3>Decrypt Feed</h3>
      <a id="load" class="btn btn-primary btn-lg" role="button">ARE YOU THE OWNER?<br>(Click Here To Decrypt)</a>
    </form>
  </div>

    <div class="card">
      <h5 class="card-header">{{ feed.title }} Posts</h5>

      <div class="card-body">
        <div id="posts">
        {% for post in posts %}
            <div class="card">
              <h5 class="card-header">{{post.created_date|date:"M d, Y H:i:s"}}</h5>
              <div class="card-body">
                {{post.content}}
              </div>
            </div>
        {% endfor %}
        </div>
      </div>
    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src='{% static "web3.min.js" %}'></script>
<script type="text/javascript" src='{% static "abi.js" %}'></script>
<script type="text/javascript" src='{% static "feed.js" %}'></script>
</body>
</html>
