<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% load staticfiles%}
	<title>THFIAONS</title>

	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container">

  <div class="jumbotron">
    <h1 class="display-4">This Feed Is Always On Sale</h1>
    <p class="lead">Some stuff about the idea.</p>
    <hr class="my-4">
    <h3>Buy Feed</h3>
    <p>Current Patron: </p>
    <p>Sale Price (ETH): </p>
    <p>Deposit (ETH): </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">BUY FEED</a>
  </div>

    <div class="card">
      <h5 class="card-header">{{ feed.title }} Posts</h5>

      <div class="card-body">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="ownerCheck">
          <label class="form-check-label" for="ownerCheck">
            Owner?
          </label>
        </div>
        <a id="load" class="btn btn-primary btn-lg" role="button">ARE YOU THE OWNER?</a>

        <div id="posts">
        {% for post in posts %}
          <p>{{post.created_date}} {{post.content}} {{post.enrico_pubkey_hex}}</p>
        {% endfor %}
        </div>
      </div>
    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src='{% static "web3.min.js" %}'></script>
<script type="text/javascript" src='{% static "feed.js" %}'></script>
</body>
</html>
